Screen {
}

Pane {
	width: 1fr;
	border: solid white;
	height: 1fr;
}

.pane-window {
	border: solid white;
	padding: 0 1;
	background: transparent;
	color: rgba(255, 255, 255, 0.7);
	opacity: 0.7;
}

.pane-window:focus-within {
	border: double blue;
	opacity: 1;
	color: rgba(255, 255, 255, 1);
}

.pane-window > ListView {
	background: transparent;
}

InputModal {
	align: center middle;
	background: rgba(0, 0, 0, 0.5); /* Dims the main app screen behind it */
}

#modal-container {
	width: 60;
	height: auto;
	padding: 1;
	background: transparent;
	border: solid blue;
}

#modal-input {
	margin: 1 0 0 0;
	padding: 0 1;
}

/* search screen*/
#search-screen-container {
	padding: 2 3;
}

#search-screen-container > Input {
	margin: 1 0;
}

#search-page {
	margin-top: 1;
}

#search-results-container{
	padding: 1 2;
	border: solid rgba(255,255,255, 0.5);
	background: transparent;
}


#search-results-container:focus-within {
	border: solid blue;
	opacity: 1;
	color: rgba(255, 255, 255, 1);
}

ResultsList, LoadingIndicator {
	background: transparent;
}


.result-item-row {
	height: 1;
}

.result-item-row > Static{
	width: 1fr;
}

.media-item-watched {
	color: green;
}

.result-item-row > Static:first-child{
	min-width: 3;
}
